#nav-bar ul {
	width: 100%;
	margin: 0;
	position: fixed;
	background-color: #1C263C;
	opacity: 0.8;
	height: 50px;
}

#nav-bar li {
	display: inline;
	margin-left: 5px;
	float: left;
}

#nav-bar li a {
	display: block;
	color: white;
	text-align: center;	
	text-decoration: none;
	padding: 15px 20px;
	font-family: Arial;
}

#nav-bar a:hover {
	background-color: white;
	color: black;
	font-family: Arial;
	opacity: 1;
	text-transform: uppercase;
}

body {
	margin: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}

div {
	display: block;
}

.title {
	width: 20%;
	float: left;
}

.content {
	float: left;
	width: 80%;
	display: block;
	overflow: auto;
}

#first {
	background-image: url("../images/supa.png");
	background-size: 1350px 800px;
	height: 680px;
	width: 100%;
	overflow: hidden;
	display: table;
}

#first h1 {
	color: white;
	line-height: normal;
	letter-spacing: normal;
	font-family: tahoma;
}

#first h2 {
	color: white;
	font-family: calibri;
	line-height: normal;
	letter-spacing: normal;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 150px;
}

#second {
	background-color: white;
	height: 500px;
	color: white;
	padding: 100px 100px
}

#second h1 {
	margin: 0;
	font-size: 45px;
	color: #3295be;
}

#second h2 {
	margin-top: 10px;
	font-size: 30px;
	color: #58798c;
}

#second	 li {
	font-size: 18px;
	display: inline;
	float: left;
	padding-bottom: 20px;
	padding-right: 70px;
	color: #58798c;
	width: 220px;
}

#second hr {
    height: 2px;
    background: #3295be;
    font-size: 0;
    border: none;
	border-color: #3295be;
	margin-right: 95px;
}

#second li p {
	text-decoration: bold;
	font-size: 20px;
}

#third {
	background-color: #5F6B61;
	height: 500px;
	overflow: hidden;
	color: white;
	padding: 100px 100px;
}

#third h1 {
	margin: 0;
	font-size: 45px;
}

#fourth {
	background-color: rgb(155, 255, 155);
	height: 500px;
	overflow: hidden;
	color: white;
	padding: 100px 100px;
}

#fourth h1 {
	margin: 0;
	font-size: 45px;
}

.img-circle {
	border-radius: 50%;
	padding: 0px;
	width: 200px;
	height: 200px;
}

.place {
	padding-top: 300px;
	padding-left: 150px;
	padding-bottom: 0;
	font-size: 50p;
	font: normal normal normal 65px/1.4em lulo-clean-w01-one-bold,sans-serif;
}

.pos {
	margin-left: 40px;
}