#nav-bar ul {
	width: 100%;
	margin: 0;
	position: fixed;
	background-color: #3295be;
	color: white;
	z-index: 1;
}

#nav-bar li {
	display: inline;
	margin-left: 5px;
	float: left;
}

#nav-bar li a {
	display: block;
	color: white;
	text-align: center;	
	text-decoration: none;
	padding: 15px 20px;
}

#nav-bar a:hover {
	background-color: white;
	color: #58798c;
	font-weight: bold;
	letter-spacing: 1px;
	opacity: 1;
	text-transform: uppercase;
}

body {
	margin: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3295be;
}

div {
	display: block;
}

.title {
	width: 20%;
	float: left;
}

.title h1 {
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 2px;
	margin: 0;
}

.content {
	float: left;
	width: 80%;
}

#first {
	background-image: url("../images/supa.png");
	background-size: 1350px 800px;
	background-repeat: no-repeat;
	background-position: center;
	background: linear-gradient(to bottom, 
	rgba(34, 125, 170, 1) 0%,
	rgba(81, 172, 205, 1) 100%);
	height: 680px;
	width: 100%;
	overflow: hidden;
}

#first h2 {
	font-weight: 100;
	color: #deeef5;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 90px;
	margin-left: 90px;
}

#first h2 strong {
	color: white;
	font-weight: bold;
}

#first h1 {
	color: white;
	font-size: 60px;
	margin-top: 200px;
	margin-left: 90px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#first hr {
	display: block;
    font-size: 0;
	border: 2px solid #fff;
	width: 70px;
	margin: 10px auto -10px 0;
}

#second {
	background-color: white;	
	color: white;
	overflow: hidden;
	padding: 100px 100px;
}

#second h1 {
	color: #3295be;
	margin: 0px;
}

#second h2 {
	font-size: 22px;
	color: #58798c;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
}

#second p {
	color: #58798c;
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}

#second hr {
    height: 2px;
    background: #3295be;
    font-size: 0;
	margin-top: 8px;
	border: none;
	width: 50px;
	float: left;
}

#third {
	background-color: #3295be;
	overflow: hidden;
	color: white;
	padding: 100px 100px;
	background: linear-gradient(to bottom, 
	rgba(34, 125, 170, 1) 0%,
	rgba(81, 172, 205, 1) 100%);
}

#third h2 {
	margin-top: 0;
}

#third hr {
    height: 2px;
    background: white;
    font-size: 0;
	margin-top: 8px;
	border: none;
	width: 50px;
	float: left;
}

#third	.box {
	border: 1px solid #95c5db;
	border-radius: 10px;
	float: left;
	padding: 20px;
	color: white;
	width: 35%;
	height: 150px;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
}

#third .box:hover {
	background: rgba(255,255,255,0.1);
}

#third .box h2 {
	color: white;
	font-size: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#third	.box hr{
    height: 2px;
    background: #95c5db;
    font-size: 0;
	margin-right: 10px;
	margin-top: 30px;
	width: 100%;
}

#fourth {
	background-color: white;
	overflow: hidden;
	color: #3295be;
	padding: 100px 100px;
}

#fourth hr {
    height: 2px;
    background: #3295be;
    font-size: 0;
	margin-top: 8px;
	border: none;
	width: 50px;
	float: left;
}

#fourth  .image {
	width: 50%;
	float: left;
}

#fourth  .image img {
	width: 90%;
	height: auto;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
}

#fourth .image h2 {
	color: #2473a0;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
}

#fourth .tag {
	border: 1px solid #ddd;
	display: inline-block;
	border-radius: 6px;
	padding: 8px 10px;
	font-size: 12px;
	color: #aaa;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 60px;
}

#fifth {
	background-color: white;
	overflow: hidden;
	color: #3295be;
	padding: 100px 100px;
}

#fifth hr {
    height: 2px;
    background: #3295be;
    font-size: 0;
	margin-top: 8px;
	border: none;
	width: 50px;
	float: left;
}

#fifth h2 {
	color: #58798c;
	margin: 0px;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 5px;		
}

#fifth a {
	text-decoration: none;
}

#footer {
	padding: 0px 60px;
	border-top: 1px solid #eee;
	color: #aaa;
	height: 40px;
	text-transform: uppercase;
	background-color: white
}

.small {
	font-size: 14px;
	color: #aac7d9;
	margin-bottom: 10px;
	text-transform: uppercase;
}	

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
	.title {
		width: 40%;
	}
	
	.content {
		width: 60%;
	}
	
	#third .box img {
		max-width: 40px;
		max-height: 40px;
	}
	
	#third .box {
		max-height: 200px;
		width: 150px;
	}
	
	#fourth .image {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.title, .content {
		width: 100%;
	}
	
	#second, #third, #fourth, #fifth {
		padding: 40px 40px;
	}
	
	#fourth .image img {
		width: 100%;
	}
}