#container {
	width: 100%;
	height: 3180px;
	overflow: auto;
	background-color: black;
}

#nav-bar ul {
	width: 100%;
	margin: 0;
	position: fixed;
	background-color: gray;
}

#nav-bar li {
	display: inline;
	margin-left: 5px;
	float: left;
}

#nav-bar li a {
	display: block;
	color: white;
	text-align: center;	
	text-decoration: none;
	padding: 20px;
	font-family: Arial;
}

#nav-bar a:hover {
	background-color: white;
	color: black;
	font-family: Arial;
	opacity: 0.7;
	text-transform: uppercase;
}

body {
	margin: 0;
	font-family: arial;
}

div {
	display: block;
}

.title {
	width: 20%;
	float: left;
}

.content {
	float: left;
	width: 80%;
	display: block;
	overflow: auto;
}

#first {
	background-image: url("kunnnka.png");
	background-size:cover;
	height: 680px;
	width: 100%;
	overflow: hidden;
	display: table;
}

#first h1 {
	color: white;
	text-align: center;
	font-family: Dekar;
}

#second {
	background-color: white;
	height: 500px;
	color: white;
	padding: 100px 100px
}

#second h1 {
	margin: 0;
	font-size: 45px;
	color: #3295be;
}

#second h2 {
	margin-top: 15px;
	font-size: 30px;
	color: #58798c;
}

#second	 li {
	font-size: 25px;
	display: block;
	padding-bottom: 20px;
	color: #58798c;
}

#third {
	background-color: #5F6B61;
	height: 500px;
	overflow: hidden;
	color: white;
	padding: 100px 100px;
}

#third h1 {
	margin: 0;
	font-size: 45px;
}

#fourth {
	background-color: rgb(155, 255, 155);
	height: 500px;
	overflow: hidden;
	color: white;
	padding: 100px 100px;
}

#fourth h1 {
	margin: 0;
	font-size: 45px;
}

@font-face {
	font-family: Dekar;
	src: url(Dekar Light.otf);
}

.img-circle {
	border-radius: 50%;
	padding: 0px;
	width: 200px;
	height: 200px;
}

.p-center {
	padding-top: 355;
	text-align: center;
}

.pos {
	margin-left: 40px;
}